---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import Banner from "../components/Banner.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import FAQ from "../components/FAQ.astro";
import Approach from "../components/Approach.astro";
import Layout from "../layouts/Layout.astro";
import Whatsapp from "@/components/Whatsapp.astro";
import Hero from "@/components/Hero.astro";
import Meta from "../components/Meta.astro";

import "../styles/global.css";
---

<Layout title="Psicólogo Profesional">
  <Meta 
    title="Psicólogo Profesional - Inicio" 
    description="Encuentra apoyo psicológico profesional para superar tus desafíos emocionales y mentales." 
    keywords="psicólogo, terapia, salud mental, ansiedad, depresión" 
  />
  <Navbar />
  <main>
    <Hero />
    <About />
    <Approach />
    <Services />
    <!-- <FAQ /> -->
    <!-- <Banner /> -->
    <Whatsapp />
    <Contact />
  </main>
  <Footer />
</Layout>
