---
import "aos/dist/aos.css";
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://unpkg.com; style-src 'self' 'unsafe-inline'; img-src 'self' data:;">
		<title>Lic. Ariel Munoz</title>
	</head>
	<body>
		<slot />
		<script  >
			import AOS from 'aos';
			AOS.init(
				{
				}
			);
		  </script>
	</body>
</html>


